
@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/Error.cshtml";
}

<h2>Index San Pham of DINHVIET_CNTT</h2>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<h1 class="page-header">
     <a href="/CNTT_DinhViet/ThemSp" class="btn btn-outline btn-primary">Thêm</a>
</h1>