/*style atm*/
.list_item{
    display: flex;
}
.atm{
    padding: 20px 0px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px, rgba(0, 0, 0, 0.12) 0px 3px 4px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
    border-radius: 2px;
    cursor: pointer;
}
@media (min-width: 768px)
{
   .col-md-4 {
    -ms-flex: 0 0 31%!important;
    flex: 0 0 31%!important;
    max-width: 31%!important;
} 
}
.atm:hover{
    background-color: #f5f5f5;

}
.all_atm{
    display: none;
}
.box{
    border: 1px solid rgb(0, 173, 239);
    box-shadow: rgb(0, 173, 239) 0px 1px 5px, rgb(0, 173, 239) 0px 3px 4px, rgb(0, 173, 239) 0px 2px 4px;
}
/*end style atm*/

.row{
    margin-right: 20px!important;
    margin-left: 20px!important;
}
.list_atm{
    overflow: auto;
    height: 400px;
}
.content{
    padding: 20px 0px;
    border:1px solid;

}
.warning{
    padding: 10px 40px;
    background: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}