.info-result {
    font-size: 32px;
    font-weight: bold;
}

.fs-12 {
    font-size: 12px;
    color: #332d2dc7;
}

.info-per-flight {
    background-color: #ffffff;
}

.information-of-flight {
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.rotate {
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* side bar left */

.filter-refresh {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.filter-refresh:hover {
    background-color: rgba(33, 33, 33, 0.04);
}

input#stop-point[type=checkbox] {
    transform: scale(1.5);
}

.item-filter {
    border-bottom: 1px solid #cac3c3;
}

.time-range-flight {
    border-radius: 2rem;
    padding: 5px 10px;
}

#more-flights button:hover {
    background-color: rgba(33, 33, 33, 0.04);
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 50px;
    display: none;
    z-index: 1;
}