
@{
     ViewBag.Title = "DanhSachThuongHieu";
     Layout = "~/Views/Shared/_Layout.cshtml";
      Entities shop = new Entities();
}

@using VietMaxWatches.Models
@model List<VietMaxWatches.Models.ThuongHieuSanPham>

<!-- content:  -->
<div class="main-container-wrapper ">
     <div class="container no-intro ">
          <div class="layout layout-1-col layout-1-col-row ">
               <div role="main" class="">
                    <div class="brands-panel clearfix">
                         @foreach (var item in Model)
                         {
                              var dsThuongHieu = shop.ThuongHieuSanPham.Where(s => s.MaThuongHieu == item.MaThuongHieu);
                              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 brand online">
                                   <div class="inner-brand">
                                        <a title="@item.TenThuongHieu" href="/Home/DanhSachDongHo/@item.MaThuongHieu">
                                             <img alt="@item.TenThuongHieu" class="img-responsive" src="../@item.Logo">
                                        </a>
                                   </div>
                              </div>
                         }
                         
                    </div>
               </div>
          </div>
     </div>
</div>

