<div class="jumbotron">
    <h1>WEB API for ĐẶT VÉ MÁY BAY</h1>
    <p class="lead">API áp dụng cho Đặt Vé Máy Bay của hãng Banana AirLine</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Tìm hiểu thêm &raquo;</a></p>
</div>
<div class="">
    <h3>Thành viên nhóm:</h3>
</div>
<div class="row">
    <div class="col-md-4" style="width: 25%">
        <h2>Huỳnh Phan Ngọc Khang</h2>
        <p>Lớp: Công nghệ thông tin 2</p>
        <p>Vĩnh Long</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Tạ Khánh Duy</h2>
        <p>Lớp: Công nghệ thông tin 2</p>
        <p>Hà Nam</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Lê Thị Phương Phương</h2>
        <p>Lớp: Công nghệ thông tin 2</p>
        <p>Bình Phước</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Phan Văn Đức</h2>
        <p>Lớp: Công nghệ thông tin 2</p>
        <p>Nghệ An</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Lê Quang Quốc Khánh</h2>
        <p>Lớp: Công nghệ thông tin 2</p>
        <p>Hà Tĩnh</p>
    </div>
</div>
