
@{
    ViewBag.Title = "HoanDoiVe";
    Layout = "~/Views/Shared/Layout2.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app content">
    <div class="userb" id="main-content">
        <div class="clear"></div>
        
        <div class="_3f4zZ">
            <div class="_3He7w">
                <div class="sexZS">
                    <h1>Booking</h1>
                    <div id="content_main" style="overflow: auto;">
                        <div class=" " style="overflow: auto; border: 0px solid rgb(220, 230, 239); background: transparent none repeat scroll 0% 0%; padding: 72px 78px 7px;">
                            
                        </div>
                        <!--/.row-->
                    </div>
                </div>
            </div>
        </div>

        <style>
            .list1.list-border > li {
                font-weight: normal;
                line-height: 25px;
            }

            .common-button5 {
                background: #f9ed19 none repeat scroll 0 0;
                border: 0 none;
                border-radius: 3px;
                color: #333;
                float: right;
                font-size: 14px;
                font-weight: bold;
                line-height: 28px;
                margin-top: 3px;
                padding: 1px 13px;
            }
        </style>

        <div class="clear"></div>

        <div id="content" style="margin: 0px auto; min-height: auto; width: 1139px;">
            <!-- Ẩn -->
            <div id="wrap3" style=" background: transparent none repeat scroll 0 0;border-radius: 18px;margin: 0 auto;min-height: auto;padding: 17px;position: relative;">
                <div class=" ">
                    <table class="table1">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <h4 class="head-title2">Thông tin người mua</h4>
                                    <ul class="list1 list-border">
                                        <li><strong>Họ &amp; Tên:</strong> <span>Nhu Ngoc Anh</span> </li>
                                        <li><strong>Điện thoại:</strong> <span>0386137143</span> </li>
                                        <li><strong>Email:</strong> <span>ngocanh@gmail.om</span> </li>
                                        <li><strong>Địa chỉ:</strong> <span>Thai Nguyen</span> </li>
                                    </ul>
                                </td>
                                <td>
                                    <h4 class="head-title2">Thông tin đơn hàng</h4>
                                    <ul class="list1 list-border">
                                        <li><strong>Booking No:</strong> <a href="https://bambooairlines.com.vn/order/manager?order_code=BB704200&amp;order_email=">ABCD1234</a>(Chờ xác nhận)</li>
                                        <li><strong>Tổng tiền:</strong> <span class="currency">922900</span></li>
                                        <li><strong>Ngày:</strong> 16/11/2020</li>
                                        <li><strong>Ghi chú:</strong> <pre><span></span></pre> </li>

                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <ul class="list1 list-border" style="border-top: 1px solid rgb(204, 204, 204);">
                                        <li><strong>Phương thức thanh toán:</strong> Thanh toán tại phòng vé</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="width: 100%; height: 27px;">
                    <div>
                        <div class="cpl-route-info" style="font-size: 13px; font-weight: bold; line-height: 35px;">
                            Chuyến bay Chiều đi 
                            <span class="info"></span>
                            <div style="float: right;">
                                Hãng hàng không:
                                <span class="info" style=" color: red; ">BamBooAirWays</span>
                            </div>
                        </div>
                        <h4 style="background-color: #009fdb;color: #fff;font-size: 18px;font-weight: bold;">
                            <span style="background-color: #fdc400;display: block;padding: 5px 20px;width: 47%; color: #333;">Thông tin hành trình</span>
                        </h4>
                        <table class="confirm-booking-flight-info" style="width: 100%; margin-bottom: 5px; background: #f3f9fd none repeat scroll 0 0; color: #333; text-align: left;">
                            <tbody>
                                <tr style="text-align: center;">
                                    <td style="width: 25%; vertical-align: bottom;" valign="bottom">Từ: <span class="info2">TP Hồ Chí Minh</span> </td>
                                    <td style="width: 25%; vertical-align: bottom;" valign="bottom">Đến: <span class="info2">Hà Nội</span> </td>
                                    <td style="width: 25%; vertical-align: bottom;" valign="bottom">Chuyến bay</td>
                                    <td style="width: 25%; vertical-align: bottom;" valign="bottom">Hạng đặt chỗ</td>
                                </tr>
                                <tr style="text-align: center; background-color: transparent; color: #fe5815;" class="info">
                                    <td><strong>20:10 - 16/11/2020</strong></td>
                                    <td><strong>22:20 - 16/11/2020</strong></td>
                                    <td>
                                        <strong>QH282 - Thời gian: <strong>2 giờ 10 phút</strong></strong>
                                    </td>
                                    <td><strong>ECONOMYSAVER</strong></td>
                                </tr>
                            </tbody>
                        </table>

                        <style>
                            .confirm-booking-flight-info td {
                                font-size: 13px;
                                height: 25px;
                                padding: 7px;
                                text-align: left;
                                vertical-align: top;
                            }

                            .ccv-info-cus > li {
                                float: left;
                                line-height: 27px;
                                width: 30%;
                            }
                        </style>

                        <table class="confirm-booking-flight-info" style="width: 100%; margin-bottom: 5px; background: #f3f9fd none repeat scroll 0 0; color: #333; text-align: left;">
                            <tbody>
                                <tr style="text-align: center;">
                                    <td style="background: #fdc400 none repeat scroll 0 0; color: #333; font-size: 17px;padding-left: 22px;vertical-align: top;width: 25%;" valign="top">Thông tin Hành khách</td>
                                    <td style="width: 75%; vertical-align: top;" valign="top">
                                        <ul class="ccv-info-cus">
                                            <li>
                                                <label class="cpnl-label">
                                                    <span>Bà:</span>
                                                </label>
                                                <label class="cpnl-value"><b>NHU NGOC ANH</b></label>
                                                <p>--/--/----</p>
                                                <p class="res-code">Mã đặt chỗ: ABCD1234</p>
                                            </li>

                                            <li style="width: 60%;">
                                                <label class="cpnl-label">
                                                    <span>| <u style="color: #589f46;text-decoration: none;">ECONOMYSAVER</u>: 7kg xách tay miễn cước</span>
                                                </label> <br>
                                                <label class="cpnl-value"> | Hành lý mua thêm: Không mua thêm </label>
                                            </li>


                                            <li style="width: 100%; height: 1px; background: wheat none repeat scroll 0% 0%;">
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="background: window none repeat scroll 0% 0%; padding: 10px;">
                            <h4 class="head-title2" style="color: #e52620; font-size: 13px;  margin: 7px 0;"> Chi tiết Giá vé </h4>
                            <table class="table1">
                                <thead>
                                    <tr>
                                        <th>Số lượng</th>
                                        <th>Hành khách</th>
                                        <th>Giá</th>
                                        <th>Thuế &amp; Phí</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Người lớn</td>
                                        <td><span class="currency">299000</span></td>
                                        <td><span class="currency">623900</span></td>
                                        <td><span class="currency">922900</span></td>
                                    </tr>
                                    <tr style="border-top: 1px solid gainsboro;">
                                        <td colspan="3"> </td>
                                        <td style="text-align: right;"><b class="total"> Tổng giá vé: </b> </td>
                                        <td><strong><span class="currency" style="color: red;">922900</span></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form id="g4g" method="POST" class="" action="timkiem.html">
                            <input name="thanhtoan" class="common-button" type="submit" value="HOÁN ĐỔI VÉ">
                        </form>
                    </div>
                    <br>
                </div>
            </div>
            <!-- HẾT ẨN -->
            <div id="wrap2" style=" background: transparent none repeat scroll 0 0;border-radius: 18px;margin: 0 auto;min-height: auto;padding: 17px;position: relative;">
                <hr>
                <div style="font-family: tahoma;">
                    <h3 class="confirm_title" style="font-size: 14px; line-height: normal;  color: #f15823;">LƯU Ý:</h3>
                    <p style="line-height: 21px;">Quý khách vui lòng kiểm tra lại ngày giờ bay, chặng bay, họ tên chính xác, đồng thời đến làm thủ tục trước <strong style="font-size: 13px; color: #f15823;">120 phút</strong> đối với chặng bay nội địa và <strong style="font-size: 13px; color: #f15823;">180 phút</strong>                            đối với chặng bay quốc tế.</p>
                </div>

                <div style="font-family: tahoma;">
                    <p style="line-height: 21px;">
                        Với mong muốn được phục vụ khách hàng ngày càng chu đáo hơn, <strong>PHÒNG VÉ BAMBOO </strong> luôn sẵn sàng tiếp nhận và biết ơn mọi sự góp ý của Quý khách hàng.
                    </p>
                    <p style="line-height: 21px;">
                        Vì vậy nếu quý khách có bất cứ điều gì chưa hài lòng về sản phẩm, dịch vụ hay phong cách phục vụ, xin vui lòng phản ánh trực tiếp tới SĐT Công ty: <strong style="font-size: 18px; color: #f15823;"> 08.4949.1166 </strong> vào
                        bất cứ lúc nào. Chúng tôi sẽ nhanh chóng giải quyết và có thông tin phản hồi kịp thời cho mọi vướng mắc hay mọi sự chưa hài lòng của Quý khách hàng.
                    </p>
                </div>
            </div>
        </div>

        <style>
            .table1 tr td {
                font-weight: bold;
                line-height: 21px;
                padding: 0 3px 3px 0;
                vertical-align: top;
            }

            .table1.table-hover tr:hover {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            }

            .thongbaorev {
                color: #e51f20;
                font-style: italic;
                font-size: 18px;
                font-weight: bold;
            }

            hr {
                border: 0 solid rgb(128, 128, 128);
                color: rgb(128, 128, 128);
                height: 1px;
                margin: 5px 8px;
            }

            .paumentresults.go-payment-list {
                position: relative;
            }

            .methods-headerdis {
                background: rgba(128, 128, 128, 0.19) none repeat scroll 0 0;
                border-radius: 4px;
                height: 63px;
                position: absolute;
                top: 0;
                width: 100%;
            }

            #wrap3 {
                display: none;
            }
        </style>

        <style>
            .col-md-3.no-padding-left {
                padding-left: 0;
            }

            .col-xs-9.no-padding-right {
                padding-right: 0;
            }

            .contentxe {
                border-top: 1px solid #cdcdcd;
                padding: 5px 12px;
            }

            .contentxec {
                padding: 0 10px;
            }

            .contentxe .row {
                margin: 0;
                padding: 0;
            }

            .contentxe .row .col-lg-1,
            .contentxe .row .col-lg-10,
            .contentxe .row .col-lg-11,
            .contentxe .row .col-lg-12,
            .contentxe .row .col-lg-2,
            .contentxe .row .col-lg-3,
            .contentxe .row .col-lg-4,
            .contentxe .row .col-lg-5,
            .contentxe .row .col-lg-6,
            .contentxe .row .col-lg-7,
            .contentxe .row .col-lg-8,
            .contentxe .row .col-lg-9,
            .contentxe .row .col-md-1,
            .contentxe .row .col-md-10,
            .contentxe .row .col-md-11,
            .contentxe .row .col-md-12,
            .contentxe .row .col-md-2,
            .contentxe .row .col-md-3,
            .contentxe .row .col-md-4,
            .contentxe .row .col-md-5,
            .contentxe .row .col-md-6,
            .contentxe .row .col-md-7,
            .contentxe .row .col-md-8,
            .contentxe .row .col-md-9,
            .contentxe .row .col-sm-1,
            .contentxe .row .col-sm-10,
            .contentxe .row .col-sm-11,
            .contentxe .row .col-sm-12,
            .contentxe .row .col-sm-2,
            .contentxe .row .col-sm-3,
            .contentxe .row .col-sm-4,
            .contentxe .row .col-sm-5,
            .contentxe .row .col-sm-6,
            .contentxe .row .col-sm-7,
            .contentxe .row .col-sm-8,
            .contentxe .row .col-sm-9,
            .contentxe .row .col-xs-1,
            .contentxe .row .col-xs-10,
            .contentxe .row .col-xs-11,
            .contentxe .row .col-xs-12,
            .contentxe .row .col-xs-2,
            .contentxe .row .col-xs-3,
            .contentxe .row .col-xs-4,
            .contentxe .row .col-xs-5,
            .contentxe .row .col-xs-6,
            .contentxe .row .col-xs-7,
            .contentxe .row .col-xs-8,
            .contentxe .row .col-xs-9 {
                min-height: 1px;
                padding-left: 0;
                padding-right: 15px;
                position: relative;
            }

            .list-car-info {
                line-height: 14px;
                list-style: outside none none;
                padding: 0;
            }

            .list-car-info > li {
                display: inline-flex;
                padding-top: 11px;
                width: 100%;
            }

            .form-group {
                margin-bottom: 15px;
                overflow: auto;
            }

            .form-block .col-xs-12,
            .form-block .col-xs-4,
            .form-block .col-xs-8 {
                padding: 0px;
            }
        </style>

        <style>
            .group-contentdis {
                background: rgba(220, 220, 220, 0.19) none repeat scroll 0 0;
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 10;
            }
        </style>
    </div>
</div>

<div class="clear"></div>

