
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="font-weight-bold text-success mt-3" id="tittle-queue">Hướng dẫn đặt vé</h4>
            <div class="step-queue">
                <p><b class="border-bottom">Bước 1: </b>Truy cập <b>www.BananaAirlines.com.vn</b>. Bạn chọn Sân bay điểm đi và đến, chuyến khứ hồi hoặc một chiều, ngày đi, ngày về và số lượng hành khách, trẻ em đi cùng và nhấp chuột vào <b class="text-success">TÌM CHUYẾN BAY</b></p>
                <div class="text-center">
                    <img src="../Asset/img/3333.png" alt="" class="w-75">
                </div>
            </div>
            <div class="step-queue">
                <p><b class="border-bottom">Bước 2: </b>Lựa chọn giờ bay, hãng bay và hạng giá vé thích hợp ( nhấp chuột vào nút chọn sau đó nhấn nút <b>TIẾP TỤC</b>)</p>
                <div class="text-center">
                    <img src="../Asset/img/44444.png" alt="" class="w-75">
                </div>
            </div>
            <div class="step-queue">
                <p>
                    <b class="border-bottom">Bước 3: </b>Nhập thông tin của người đặt vé - Thông tin hành khách - chọn hành lý mua thêm, Thức ăn trên máy bay ( nếu không mua thì không chọn). Quý khách có thêm các yêu thêm cầu khác vui lòng nhập nội
                    dung vào mục <b>GHI CHÚ</b> - Chọn phương thức thanh toán - Click vào mục :Tôi đồng ý với các điều khoản... và nhấp chuột vào : <b>TIẾP TỤC</b>
                </p>
                <div class="text-center">
                    <img src="../Asset/img/4444.png" alt="" class="w-75">
                </div>
            </div>
            <div class="step-queue">
                <p>
                    <b class="border-bottom">Bước 4: </b>Kiểm tra lại tất cả các thông tin hiển thị ... nếu đồng ý vui lòng nhấp chuột vào : <b>XÁC NHẬN THÔNG TIN & ĐẶT VÉ</b> ( Vui lòng không đóng hoặc tải lại trang khi hệ thống đang xử lý ) - Nếu
                    Quý khách chọn thanh toán online hệ thống sẽ tự động chuyển sang trang thanh toán ( Quý khách vui lòng nhập đầy đủ các thông tin trên thẻ theo hướng dẫn)
                </p>
            </div>
        </div>
    </div>
</div>

