
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-md-12 coupon">
            <div class="tittle-coupon">
                <h4 class="font-weight-bold text-uppercase text-success">THỨ 4 - BAY VÔ TƯ VỚI 99.000VND</h4>
            </div>
            <div class="content-coupon">
                <p>Chào thứ 4 cùng Banana Airlines, đặt vé ngay và bay đến những vùng đất lạ để chạm tay vào những điều mà trước đó chỉ dừng lại ở “biết đến” và “nghe kể”. Đây chắc chắn sẽ là niềm hạnh phúc tuyệt vời dành cho bạn và gia đình!</p>
                <ul>
                    <li>Thời gian mở bán: 00:00 – 23:59 thứ Tư ngày 25/09/2019</li>
                    <li>Thời gian bay: 26/09/2019 – 31/03/2020</li>
                    <li>Chặng bay áp dụng: Các chặng bay nội địa Banana Airlines đang khai thác, ngoại trừ đường bay Hà Nội – Đà Nẵng; Hà Nội – Nha Trang; TP Hồ Chí Minh – Đà Nẵng (và ngược lại)</li>
                    <li> Thời gian bay không áp dụng: Từ ngày 27/12/2019 đến ngày 06/01/2020 và từ ngày 15/01/2020 đến ngày 17/02/2020.</li>
                </ul>
            </div>
            <div class="image-coupon">
                <img src="../Asset/img/thumb.png" alt="" class="img-fluid w-100 mb-3">
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="tittle-coupon">
                <h4 class="font-weight-bold text-uppercase text-success">TƯNG BỪNG KHUYẾN MẠI KHAI TRƯƠNG ĐƯỜNG BAY HỒ CHÍ MINH - ĐÀ NẴNG</h4>
            </div>
            <div class="content-coupon">
                <p>Với những nỗ lực mở rộng các đường bay mới nhằm đáp ứng nhu cầu đa dạng của hàng triệu hành khách, Banana Airlines chính thức mở đường bay TP. Hồ Chí Minh – Đà Nẵng từ 1/9/2019.</p>
                <p>
                    Chào mừng đường bay mới và tri ân khách hàng nhân dịp Lễ Quốc khánh 2/9, Banana Airlines áp dụng mức giá ưu đãi siêu hấp dẫn từ 249.000VNĐ/1 vé/1 chiều cho đường bay TP. Hồ Chí Minh – Đà Nẵng. Từ đây hành trình bay giữa thành phố
                    mang tên Bác và “Kinh đô pháo hoa” của Việt nam có thêm Banana Airlines mang tới trải nghiệm bay 5* đầy cảm xúc cho các khách hàng.
                </p>
                <p>Hãy cùng Banana Airlines lan toả và chia sẻ tin vui này đến bạn bè và người thân của mình để chúng tôi hiện thực hoá được nhiều “giấc mơ bay” hơn cho hành khách nhé!</p>
            </div>
            <div class="image-coupon text-center">
                <img src="../Asset/img/bamboooooo.jpg" alt="" class="img-fluid mb-3">
            </div>
        </div>
    </div>
</div>

