
@{
    ViewBag.Title = "Liên Hệ";
    ViewBag.Title1 = "Trang chủ";
    ViewBag.Title2 = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Liên hệ</h6>
            <h1>Liên hệ với chúng tôi để nhận hỗ trợ</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <input type="text" class="form-control p-4" id="name" placeholder="Tên "
                                       required="required" data-validation-required-message="Vui lòng nhập tên quý khách" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <input type="email" class="form-control p-4" id="email" placeholder="Email"
                                       required="required" data-validation-required-message="Vui lòng nhập email của quý khách" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control py-3 px-4" rows="5" id="message" placeholder="Lời nhắn"
                                      required="required"
                                      data-validation-required-message="Vui lòng để lại lời nhắn"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
