
<div class="cart box_1" style="float: left; padding-right: 25px;">
     <a href="/Admin/AdminHome/DangNhap">

          <img src="/IMG/login.png" alt="" />
     </a>
     <p><a href="/Admin/AdminHome/DangNhap" class="simpleCart_empty">Đăng nhập</a></p>
     <div class="clearfix"> </div>
</div>
<div class="cart box_1" style="float: left; padding-right: 25px;">
     <a href="/GioHang/Index">
          <img src="/IMG/online-shopping-cart.png" alt="" />
     </a>
     <p>
          <a href="/GioHang/Index" class="simpleCart_empty">Giỏ hàng</a>
     </p>
     <div class="clearfix"> </div>
</div>
