<!DOCTYPE html>
<html>
<head>
     <meta charset='utf-8'>
     <meta http-equiv='X-UA-Compatible' content='IE=edge'>
     <title>Shop ViệtMax: Best Watch of Asia</title>
     <meta name="description" content="Đồng hồ Việt Max" />
     <link rel="icon" href="IMG/icon.png" type="image/x-icon">

     <link rel='stylesheet' type='text/css' href='~/CSS/main.css'>
     <link rel='stylesheet' type='text/css' href='~/CSS/jquery.carousel-3d.default.css'>

     <script type="text/javascript" src='~/JS/social.js'></script>
     <script type="text/javascript" src='~/JS/jquery-ui.min.js'></script>
     <script type="text/javascript" src='~/JS/jquery.min.js'></script>
     <script type="text/javascript" src='~/JS/jquery.jcarousel-swipe.min.js'></script>
     <script type="text/javascript" src='~/JS/jcarousel.js'></script>
     <script type="text/javascript" src='~/JS/jcarousel.brands.js'></script>
     <script type="text/javascript" src='~/JS/jquery/carousel-3d.js'></script>
     <script type="text/javascript" src='~/JS/jquery.resize.js'></script>
     <script type="text/javascript" src='~/JS/jquery.waitforimages.js'></script>
     <script type="text/javascript" src='~/JS/modernizr.js'></script>
     <script type="text/javascript" src='~/JS/jquery.emojiRatings.min.js'></script>
     <script type="text/javascript" src='~/JS/product.js'></script>
</head>
<body class="homepage  cms-index-index cms-home home catalog-category-view brands-area categorypath-brands brand-area categorypath-brands-cartier-watches category-cartier-watches">
     <!-- =====top:address + hotline===== -->
     <div class="top-container" id="top">
          <div class="container">
               <div class="topbar">
                    <!-- =====address===== -->
                    <a class="icon-map first" href="/lienhe.aspx">
                         <img src="../IMG/icon-showrooms-yellow.png" alt="icon-map">

                    </a>
                    <span class="address">236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</span>
                    <!-- =====tim kiem===== -->
                    <div class="search">
                         <div class="search-box-outer">
                              <div class="search-box">
                                   <div class="search-box-inner">
                                        <input type="text" placeholder="Tìm kiếm..." class="input-text-search">
                                        <img src="../IMG/search-icon-gray.png" alt="search-icon">
                                   </div>
                              </div>
                         </div>
                    </div>
                    <!-- =====hotline===== -->
                    <span class="head-hotline">Gọi ngay: 035.746.1234</span>
               </div>
          </div>
     </div>

     <!-- =====logo + menu===== -->
     <div class="header-outer-container">
          <div class="container">
               <header role="banner">
                    <!-- =====logo====== -->
                    <div class="main-logo">
                         <div class="logo-holder">
                              <a href="#">
                                   <img alt="Đồng hồ ViệtMax" class="img-logo" src="../IMG/adad.png">
                              </a>
                         </div>
                    </div>
                    <!-- ======menu link===== -->
                    <div class="links">
                         <!-- =====Thương Hiệu===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DanhSachThuongHieu">THƯƠNG HIỆU</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DanhSachThuongHieu">THƯƠNG HIỆU</a>
                              </h2>
                         </div>
                         <!-- =====Đồng hồ Nam===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DongHoHieu/">ĐỒNG HỒ NAM</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DongHoHieu/">ĐỒNG HỒ NAM</a>
                              </h2>
                         </div>
                         <!-- =====Đồng Hồ Nữ===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DongHoHieu/">ĐỒNG HỒ NỮ</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DongHoHieu/">ĐỒNG HỒ NỮ</a>
                              </h2>
                         </div>
                         <!-- =====Đồng Hồ Thể Thao===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DongHoHieu/">ĐỒNG HỒ THỂ THAO</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DongHoHieu/">ĐỒNG HỒ THỂ THAO</a>
                              </h2>
                         </div>
                         <!-- =====Đồng Hồ Đôi===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DongHoHieu/">ĐỒNG HỒ ĐÔI</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DongHoHieu/">ĐỒNG HỒ ĐÔI</a>
                              </h2>
                         </div>
                         <!-- =====Đồng Hồ Quân Đội===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DongHoHieu/">ĐỒNG HỒ QUÂN ĐỘI</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DongHoHieu/">ĐỒNG HỒ QUÂN ĐỘI</a>
                              </h2>
                         </div>
                         <!-- =====Sale===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DongHoHieu/">SALE</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DongHoHieu/">SALE</a>
                              </h2>
                         </div>
                    </div>
               </header>
          </div>
     </div>
     <div class="container body-content">
          @RenderBody()
          <hr />
          <!-- =====footer===== -->
          <div id="footer">
               <div class="managed-content footer_content">
                    <span>
                         <strong>CÔNG TY CỔ PHẦN XNK VIỆT MAX</strong>
                         <br>Địa chỉ: 236 Hoàng Quốc Việt, Phường Cổ Nhuế 1, Bắc Từ Liêm, Hà Nội - Điện thoại: 078 748 9999 | 035 777 4444  - MST: 0312756049
                    </span>
                    <br>
                    <div class="stotop">
                         <a href="#top"><img class="back-to-top" src="../IMG/backtotop.png" alt="top"></a>
                    </div>
               </div>
          </div>

          <!-- =====messager===== -->
          <div class="message"></div>
     </div>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)
</body>
</html>

